body{
    background: #444444 !important;
    margin: 0px;
    font-family: "Century Gothic" !important;
}
::-webkit-input-placeholder{
    font-family: "Century Gothic" !important;
}
.top-bar{
    padding: 0 5px 0 5px;
    width: 100%;
    overflow: hidden;
    /*Fundo*/
    background: #42b087; /* Old browsers */
    background: -moz-linear-gradient(top,  #42b087 0%, #43bc6a 44%, #359975 59%, #31936f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#42b087), color-stop(44%,#43bc6a), color-stop(59%,#359975), color-stop(100%,#31936f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #42b087 0%,#43bc6a 44%,#359975 59%,#31936f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #42b087 0%,#43bc6a 44%,#359975 59%,#31936f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #42b087 0%,#43bc6a 44%,#359975 59%,#31936f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #42b087 0%,#43bc6a 44%,#359975 59%,#31936f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42b087', endColorstr='#31936f',GradientType=0 ); /* IE6-9 */
}

.logo{
    background: url(../img/logo.png) no-repeat;
    width: 127px;
    height: 32px;
}
.gear{
    background: url(../img/gear.png) no-repeat;
    width: 33px;
    height: 36px;
}

.top-bar .gear:hover{
    background: url(../img/gear_hover.png) no-repeat;
}
.top-bar .gear{
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
.top-bar .logo{
    float: left;
    margin-top: 5px;
}

.menu div{
    padding: 10px;
    border: 2px solid #666666;
    border-bottom: none;
    background: #444444;
    color: #DDDDDD;
    margin-right: 5px;
    margin-top: 16px;
    font-size: 1.2em;
}
.menu div.active{
    background: #666666;
    margin-top: 0px;
    padding-top:20px;
    padding-bottom:16px;
}

.content-all{
    padding: 15px;
}
.content-all .content-wrap{
    width: 100%;
    overflow: hidden;
}

.content-all .container-content{
    background: #666666;
    color: #efefef;
    padding: 15px;
    clear: both;
    margin-top: -2px;
}
.content-all .container-content .menu{
    width: 100%;
    height: 27px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #666666; /* Old browsers */
    background: -moz-linear-gradient(top,  #666666 0%, #5f5f5f 51%, #5f5f5f 51%, #505050 52%, #444444 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(51%,#5f5f5f), color-stop(51%,#5f5f5f), color-stop(52%,#505050), color-stop(100%,#444444)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #666666 0%,#5f5f5f 51%,#5f5f5f 51%,#505050 52%,#444444 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #666666 0%,#5f5f5f 51%,#5f5f5f 51%,#505050 52%,#444444 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #666666 0%,#5f5f5f 51%,#5f5f5f 51%,#505050 52%,#444444 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #666666 0%,#5f5f5f 51%,#5f5f5f 51%,#505050 52%,#444444 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 1px 0 15px 2px rgba(0,255,127,0.6);
    box-shadow: 1px 0 15px 2px rgba(0,255,127,0.6);
}
.content-all .container-content .menu li{
    float: left;
    margin-left: 15px;
    margin-right: 5px;
    color: #FFF;
    display: block;
    cursor: pointer;
}

.box-dshow{
    clear: both;
    background: #777777;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.box-dshow .box-wrap{
    padding: 20px;
    font-size: 20px;
}

.text-box{
    width: 100%;
    background: #EEEEEE;
    border: 1px solid #666666;
    color: #000;
    padding: 5px;
    height: 35px;
    font-family: Arial;
}
.select-box{
    width: 100%;
    background: #EEEEEE;
    border: 1px solid #666666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #666;
    padding-left: 5px;
    height: 35px;
}

.biblia-versiculo{
    clear: both;
    padding-top: 30px;
    font-size: 18px;
}

.navMenu{
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
}
.navMenu .fleft{
    float: left;
}
.navMenu .fright{
    float: right;
}
.navMenu .left{
    float: left;
    background: url(../img/flecha-esquerda.png) no-repeat;
    width: 48px;
    height: 30px;
    cursor: pointer;
}
.navMenu .right{
    float: right;
    background: url(../img/flecha-direira.png) no-repeat;
    width: 48px;
    height: 30px;
    cursor: pointer;
}
.navMenu .center{
    margin: 0 auto;
    display: block;
}

ul.dropdown{ 
    position: relative; 
    width: 100%; 
}

ul.dropdown li{ 
    font-weight: bold; 
    float: left; 
    position: relative;
}

ul.dropdown a:hover{ 
    color: #000; 
}


ul.dropdown ul li a{ 
    display: block; 
} 

ul.dropdown ul li a:hover{
    display: block; 
    background: #3498db !important;
    color: #fff !important;
} 

ul.sub_menu{
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    position: absolute;
    z-index: 999999;
    background: rgba(0,0,0,0.6);
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    visibility: hidden;
    -webkit-box-shadow:  0px 2px 3px rgba(0,255,127,0.6);
    box-shadow:  0px 2px 3px rgba(0,255,127,0.6);
    border-radius: 5px;
    width: 300px;
}
ul.sub_menu li{
    color: #eee;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    display: block;
    float: none !important;
    font-size: 15px;
}

ul.sub_menu li:hover,ul.sub_menu li.active{
    color:#7CE89D !important;
}


ul.lister-box{
    margin: 0px;
    padding: 0px;
}

ul.lister-box li{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    background: none repeat scroll 0 0 #777777;
    clear: both;
    padding: 10px;
}
ul.lister-box li .title{
    font-size: 1.6em;
}
ul.lister-box li .desc{
    font-size: 1.2em;
}

#biblia-busca-resultado ul.lister-box{
    height: 200px;
    overflow: auto;
}

#biblia-busca-resultado ul.lister-box li{
    cursor: pointer;
}
#biblia-busca-resultado ul.lister-box li:hover{
    background: #222;
}