<table class="hider" style="height:100%; width: 100%; background: rgba(0,0,0,0.6)">
    <tr valign="center">
        <td>
            <div class="escritura">
                {versiculo} - {texto}
            </div>
        </td>
    </tr>
</table>