html,body{
    height: 100%;
    font-family: "Century Gothic" !important;
}

.menu{
    width: 30%;
    background: #666;
    height: 100%;
    float: left;
}
.menu h3{
    text-align: center;
    color: #FFF;
    font-size: 1.5em;
}
.content-itens{
    width: 70%;
    background: #eee;
    height: 100%;
    float: left;
}

.menu ul{
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}
.menu ul li{
    color: #eee;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3em;
    padding-left: 20px;
    display: block;
}

.menu ul li:hover{
    background: #999;
}

.menu ul li.active{
    background: #42b087;
}

.content-itens h1{
    padding-left: 10px;
    color: #999;
}

.content-itens .label-control{
    padding-top: 7px;
    color: #333;
    font-size: 15px;
}