
/* 
        LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1;}
ul.dropdown li a                    { display: block;
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
        LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden !important; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal;float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
        LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }