html,body{
    height: 100%;
    background: #333;
    color: #FFF;
    margin: 0px;
    font-family: 'Arial';
}

body{
    background-size: 100%;
    background-repeat: no-repeat;
}

.table-height{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.escritura{
    text-align: center !important; 
    font-weight: bold;
    font-size: 30px;
}