<div class="form-group">
    <label for="field-date-{name}" class="col-sm-4 control-label">{label}</label>
    <div class="col-sm-8">
        <div class="input-group">
            <input class="form-control" name="{name}" id="field-date-{name}" value="{val}" type="text" placeholder="{label}">
            <div class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </div>
        </div>
    </div>
</div>