<div class="form-group">
    <label for="field-text-{name}" class="col-sm-4 control-label">{label}</label>
    <div class="col-sm-4">
        <input type="hidden" name="{name}">
        <button type="button" id="file-{name}" class="dshow-btn">Selecione</button>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12" style="display: none" id="image-{name}">
        <img class="img-responsive" src="{val}" />
    </div>
</div>