<div class="form-group">
    <label for="field-text-{name}" class="col-sm-4 control-label">{label}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="field-text-{name}" value="{val}" name="{name}" placeholder="{label}">
    </div>
</div>